/workspace/
/.lock
/AndroidStudio2024.3.iml
/app-internal-state.db
/bundled_plugins.txt
/c.kdbx
/c.pwd
/disabled_plugins.txt
/disabled_update.txt
/early-access-registry.txt
/installed.txt
/migration/
/options/
/plugins/
/scratches/
/settingsSync/
/ssl/
/tasks/
/studio64.exe.vmoptions
/updatedBrokenPlugins.db
/.idea/
/migration_installed_plugins.txt
/IntelliJ IDEA Global Settings
/codestyles/
/user.token